<!DOCTYPE html>
<html lang="en">
<head>
    <title>ScriptAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jsrender.js"></script>
    <script src="/static/js/ructf.js"></script>
</head>
<body class="script_api">
<div class="page">
    <div id="wrap">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">RuCTF 2013</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#">SES</a></li>
                            <li><a href="#">MapReduce</a></li>
                            <li><a href="#">DB</a></li>
                            <li><a href="#">Queue</a></li>
                            <li><a href="#">DNS</a></li>
                            <li><a href="#">IPS</a></li>
                            <li class="active"><a href="#">ScriptAPI</a></li>
                        </ul>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/x-jsrender" id="xxx-login">
            <a id="signup" class="btn btn-success" href="{{>register}}">Sign Up</a>
            <a id="signin" class="btn" href="{{>login}}">Sign In</a>
        </script>
        <script type="text/x-jsrender" id="xxx-user">
            <a href="#" class="name">{{>name}}</a>
            <a href="{{>logout}}" class="btn btn-delete">Logout</a>
        </script>
        <div id="content">
            <div class="container">
                <div class="header-main">ScriptAPI</div>
                <hr>
                <ul class="nav nav-pills">
                    <li>
                        <a href="/create.php">New script</a>
                    </li>
                    <li class="active">
                        <a href="/scripts.php">Saved scripts</a>
                    </li>
                    <li>
                        <a href="/examples.php">Examples</a>
                    </li>
                    <li>
                        <a href="/about.php">About</a>
                    </li>
                </ul>
                <div class="tab-content">
                  <?php foreach ($user_codes as $user_code) { 
                          $is_run = isset($code_id) && $code_id == $user_code['id']; ?>
                  <div class="row">
                    <div class="span6"><h4><?php echo htmlspecialchars($user_code['name']); ?></h4></div>
                  </div>
                  <div class="row">
                    <div class="span6">
                      <pre class="text-left"><?php echo htmlspecialchars($user_code['script']); ?></pre>
                    </div>
                  </div>
                  <form action="run.php" method="POST">
                    <a id="code<?php echo $user_code['id']; ?>"></a>
                    <input type="hidden" name="code_id" value="<?php echo $user_code['id']; ?>">
                    <div class="row">
                      <div class="span6 controls">
                        <textarea rows=4 class="span6" name="input" placeholder="Input for code"><?php echo $is_run && isset($input) ? $input : ''; ?></textarea>
                      </div>
                      <?php if ($is_run) { ?>
                      <script>
                        document.getElementById('code' + <?php echo $code_id; ?>).scrollIntoView();
                      </script>
                      <div class="span5 text-left">
                        <div class="alert alert-info"><strong>Result:</strong><br><?php echo str_replace("\n", '<br>', htmlspecialchars($result)); ?></div>
                      </div>
                      <?php } ?>
                    </div>
                    <?php if ($is_run && isset($error)) { ?>
                    <div class="row">
                      <div class="span6 controls">
                        <div class="alert alert-danger"><?php echo $error; ?></div>
                      </div>
                    </div> 
                    <?php } ?>
                    <div class="row">
                      <div class="span6 controls">
                        <button class="btn btn-large btn-block" type="submit" name="Run">Run</button>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <?php } ?>
               </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="pull-right">
            <a href="http://ructf.org">RuCTF</a>
            <a href="http://hackerdom.ru">HackerDom</a>
            <a href="http://ructf.org/2013/ru/devteam">Developers</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        replace_urls();
        user();
    });
</script>
</body>
</html>
