<!DOCTYPE html>
<html lang="en">
<head>
    <title>ScriptAPI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jsrender.js"></script>
    <script src="/static/js/ructf.js"></script>
</head>
<body class="script_api">
<div class="page">
    <div id="wrap">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">RuCTF 2013</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="#">SES</a></li>
                            <li><a href="#">MapReduce</a></li>
                            <li><a href="#">DB</a></li>
                            <li><a href="#">Queue</a></li>
                            <li><a href="#">DNS</a></li>
                            <li><a href="#">IPS</a></li>
                            <li class="active"><a href="#">ScriptAPI</a></li>
                        </ul>
                        <div class="pull-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/x-jsrender" id="xxx-login">
            <a id="signup" class="btn btn-success" href="{{>register}}">Регистрация</a>
            <a id="signin" class="btn" href="{{>login}}">Вход</a>
        </script>
        <script type="text/x-jsrender" id="xxx-user">
            <a href="#" class="name">{{>name}}</a>
            <a href="{{>logout}}" class="btn btn-delete">Выйти</a>
        </script>
        <div id="content">
            <div class="container">
                <div class="header-main">ScriptAPI</div>
                <hr>
                <ul class="nav nav-pills">
                    <li>
                        <a href="/create.php">Новый скрипт</a>
                    </li>
                    <li>
                        <a href="/scripts.php">Сохраненные скрипты</a>
                    </li>
                    <li class="active">
                        <a href="/examples.php">Примеры</a>
                    </li>
                    <li>
                        <a href="/about.php">О сервисе</a>
                    </li>
                </ul>
                <div class="tab-content text-left">
                   <h4>Привет, мир</h4>
                   <pre>print("Hello world")</pre>
                   <h4>Простая арифметика</h4>
                   <pre>print(1 + 2 * 10 * (5 + 3))</pre>
                   <h4>Переменные</h4>
                   <pre>a &lt;- 1
b &lt;- 2
print(a + b)</pre>
                   <h4>Условия</h4>
                   <pre>a &lt;- 10
<b>if</b> a < 20 <b>then</b>
  print("Less than 20")
<b>end else</b>
  print("More or equal than 20")
<b>end</b></pre>
                   <h4>Циклы</h4>
                   <pre><b>for</b> i <b>from</b> 1 <b>to</b> 10
  print(i * i)
<b>end</b></pre>
                   <h4>Ввод данных</h4>
                   <pre>a &lt;- input()
print(a * a)</pre>
                   <h4>Объекты</h4>
                   <pre>obj.field1 &lt;- 1
obj.field2.subfield &lt- "string field"
print(obj)</pre>
                   <h4>Использование сторонних API (ses, mr, db, queue, dns, ips)</h4>
                   <pre>print(queue.create("new_queue_name"))</pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="pull-right">
            <a href="http://ructf.org">RuCTF</a>
            <a href="http://hackerdom.ru">HackerDom</a>
            <a href="http://ructf.org/2013/ru/devteam">Developers</a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        replace_urls();
        user();
    });
</script>
</body>
</html>
